{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.record_list_category'|trans }}
{% endblock %}

{% block body %}
    <h1 id="display-h1">{{ 'title.record_list_category'|trans }}</h1>
    {%  if pagination is defined and pagination.items|length %}
        <div class="d-flex justify-content-center flex-wrap" id="display-container">
            {% for category in pagination.items %}
                <div class="card" id="category-card" style="width: 10rem;">
                    <div class="card-body d-flex justify-content-center">
                        <a href="{{ url('input_index', {'filters.category_id' :  category.id}) }}" title="{{ 'action.view'|trans }}" style="text-decoration: none"><span class="align-middle" style="text-decoration: none; color: black">{{ category.name }}</span></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Pagination -->
        <div class="navigation text-center d-flex justify-content-center">
            {{ knp_pagination_render(pagination, 'pagination.html.twig') }}
        </div>
{% else %}
<p>
    {{ 'message.empty_list'|trans }}
</p>
{% endif %}
{% endblock %}