{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.record_list_category'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.record_list_category'|trans }}</h1>
    {%  if pagination is defined and pagination.items|length %}
        <div class="d-flex justify-content-between flex-wrap">
            {% for category in pagination.items %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a href="{{ url('category_show', {id: category.id}) }}" title="{{ 'action.view'|trans }}" style="text-decoration: none"><h5 class="card-title">{{ category.name }}</h5></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
{% else %}
<p>
    {{ 'message.empty_list'|trans }}
</p>
{% endif %}
{% endblock %}