{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.record_list_input'|trans }}
{% endblock %}

{% block body %}
    <div id="indexCarousel" class="carousel slide carousel-dark" data-bs-interval="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#indexCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#indexCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#indexCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('uploads/paintings/seagul-62d8a33a78de3.jpg') }}" class="d-block w-100" alt="Frida Kahlo">
                <a href="{{ url('input_show', {id: 143} ) }}" title="{{ 'action.view'|trans }}">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>{{ 'Prof. Jeremie Stokes - barwna artystka skazana na cierpienie' }}</h4>
                        <p>{{ 'Zobacz więcej' }}</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('uploads/paintings/goose-62d8a33a5a703.jpg') }}" class="d-block w-100" alt="Jean-Michel Basquiat">
                <a href="{{ url('input_show', {id: 144} ) }}" title="{{ 'action.view'|trans }}">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>{{ 'Lucio Kulas' }}</h4>
                        <p>{{ 'Wygrana walka z hazadrem przyniosła mu jeszcze większa popularność' }}</p>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('uploads/paintings/differences-62d8a33a72324.jpg') }}" class="d-block w-100" alt="...">
                <a href="{{ url('input_show', {id: 145} ) }}" title="{{ 'action.view'|trans }}">
                    <div class="carousel-caption d-none d-md-block">
                        <h4>{{ 'Henderson Paucek do końca życia zmagał się z depresją' }}</h4>
                        <p>{{ 'Zobacz jak wpłynęło to na jego twórczość' }}</p>
                    </div>
                </a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#indexCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#indexCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {%  if pagination is defined and pagination.items|length %}
        <div class="d-flex justify-content-between flex-wrap">
        {% for input in pagination.items %}
                    <div class="card" style="width: 21rem;">
                        <img class="card-img-top" src="{{ asset(paintings_directory~input.paintingFilename) }}"
                             alt="{{ input.artist.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ input.title }}</h5>
                            <a href="{{ url('input_show', {id: input.id}) }}" title="{{ 'action.view'|trans }}" id="view-btn" class="btn btn-primary">{{ 'action.view'|trans }}</a>
                        </div>
                    </div>
        {% endfor %}
        </div>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
{% else %}
<p id="message">
    {{ 'message.empty_list'|trans }}
</p>
{% endif %}
{% endblock %}