{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.record_list_input'|trans }}
{% endblock %}

{% block body %}
    {%  if pagination is defined and pagination.items|length %}
        <div class="d-flex justify-content-center">
            {% for input in pagination.items %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset(paintings_directory~input.paintingFilename) }}"
                         alt="{{ input.artist.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ input.title }}</h5>
                        <a href="{{ url('input_show', {id: input.id}) }}" title="{{ 'action.view'|trans }}" id="view-btn" class="btn btn-primary">{{ 'action.view'|trans }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p id="message">
            {{ 'message.empty_list'|trans }}
        </p>
        <a href="{{ url('input_create') }}" title="{{ 'message.add'|trans }}">
            {{ 'message.add'|trans }}
        </a>
    {% endif %}
{% endblock %}