{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.record_details_input'|trans({'%id%': input.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1 class="title">{{ input.title }}</h1>
    {% if input is defined and input|length %}
        <dl class="dl-horizontal">
            <div class="rooow">
                <dt>{{ 'label.artist'|trans }}</dt>
                <dd>{{ input.artist.name }}</dd>
            </div>
            <div class="rooow">
                <dt>{{ 'label.field'|trans }}</dt>
                <dd>{{ input.field.name }}</dd>
            </div>
            <div class="rooow">
                <dt>{{ 'label.movement'|trans }}</dt>
                <dd>{{ input.movement.name }}</dd>
            </div>
            <div class="rooow">
                <dt>{{ 'label.category'|trans }}</dt>
                <dd>{{ input.category.name }}</dd>
            </div>
                {% if input.paintingFilename is defined and input.paintingFilename|length %}
                    <img class="img-fluid" alt="Responsive image" src="{{ asset(paintings_directory~input.paintingFilename) }}">
                {% endif %}
            </dd>
            <dt>{{ 'label.description'|trans }}</dt>
            <dd>{{ input.description|markdown_to_html }}</dd>
            <dt>{{ 'label.tags'|trans }}</dt>
            <dd>{% if input.tags is defined and input.tags|length %}
                    {% for tag in input.tags %}
                        {{ tag.name }}
                    {% endfor %}
                {% else %}
                    &nbsp;
                    {% endif %}
            </dd>
        </dl>
        <p>
            <a href="{{ url('input_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}