{% extends 'base.html.twig' %}

{% block title %}
    {{ input.title }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center" id="show">
        <div class="row col-10">
            <h1 class="h1 font-weigh-normal">{{ input.title }}</h1>
    {% if input is defined and input|length %}
        <div class="row">
            <div class="col">
                <div class="data">
                <div class="roow">
                    <dt>{{ 'label.artist'|trans }}</dt>
                    <dd><a class="text-decoration-none" style="color: black;" href="{{ url('artist_show', {id: input.artist.id}) }}">{{ input.artist.name }}</a></dd>
                </div>
                    {% if input.artist.nationality.name is defined %}
                    <div class="roow">
                        <dt>{{ 'label.nationality'|trans }}</dt>
                        <dd>{{ input.artist.nationality.name }}</dd>
                    </div>
                        {% endif %}
                    {% if input.field.name is defined %}
                <div class="roow">
                    <dt>{{ 'label.field'|trans }}</dt>
                    <dd>{{ input.field.name }}</dd>
                </div>
                        {% endif %}
                    {% if input.movement.name is defined %}
                <div class="roow">
                    <dt>{{ 'label.movement'|trans }}</dt>
                    <dd>{{ input.movement.name }}</dd>
                </div>
                        {% endif %}
                <div class="roow">
                    <dt>{{ 'label.category'|trans }}</dt>
                    <dd>{{ input.category.name }}</dd>
                </div>
                <div class="roow">
                    <dt>{{ 'label.author'|trans }}</dt>
                    <dd>{{ input.author.email }}</dd>
                </div>
                </div>
                <div class="idk">
                    {{ input.description|markdown_to_html }}
                </div>
                {% if is_granted('EDIT', input) %}
                    {% if is_granted('DELETE', input) %}
                <div class="roow" id="input-show-buttons">
                        <a role="button" id="view-btn" class="btn btn-info btn-sm" href="{{ url('input_edit', {id: input.id}) }}" title="{{ 'action.edit'|trans }}">{{ 'action.edit'|trans }}</a>
                        <a role="button" id="view-btn" class="btn btn-info btn-sm" href="{{ url('input_delete', {id: input.id}) }}" title="{{ 'action.delete'|trans }}">{{ 'action.delete'|trans }}</a>
                </div>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col d-flex justify-content-end">
                {% if input.paintingFilename is defined and input.paintingFilename|length %}
                    <figure>
                        <img class="img-fluid" id="input-show-img" alt="{{ input.artist.name }}" src="{{ asset(paintings_directory~input.paintingFilename) }}">
                    </figure>
                {% endif %}
            </div>
        </div>
        <div class="roow" id="input-index-btn">
            <a role="button" id="view-btn" class="btn btn-info btn-sm" href="{{ url('input_index') }}" title="{{ 'action.view_more'|trans }}">{{ 'action.view_more'|trans }}</a>
        </div>
        </div>
        </div>
    {% else %}
        <p>{{ 'message.record_not_found'|trans }}</p>
    {% endif %}
{% endblock %}