{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.record_list_artist'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.record_list_artist'|trans }}</h1>
    <div class="d-flex justify-content-center flex-wrap">
    {%  if pagination is defined and pagination.items|length %}
            {% for artist in pagination.items %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" id="artist-card" src="{{ asset('uploads/paintings/cat-62dafaf5748ad.jpg') }}" alt="{{ artist.name }}">
                    <div class="card-body">
                        <a href="{{ url('artist_show', {id: artist.id}) }}" title="{{ 'action.view'|trans }}" id="view-btn" style="text-decoration: none"><h5 class="card-title" id="artist-card-title">{{ artist.name }}</h5></a>
{#                        <a href="{{ url('artist_show', {id: artist.id}) }}" title="{{ 'action.view'|trans }}" id="view-btn" class="btn btn-primary">{{ 'action.view'|trans }}</a>#}
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Pagination -->
        <div class="navigation text-center d-flex justify-content-center">
            {{ knp_pagination_render(pagination, 'pagination.html.twig') }}
        </div>
{% else %}
<p>
    {{ 'message.empty_list'|trans }}
</p>
{% endif %}
{% endblock %}