{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.record_details_artist'|trans({'%id%': artist.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center" id="show">
        <div class="row col-10">
            <h1 class="h1 font font-weigh-normal">{{ artist.name }}</h1>
        {% if artist is defined and artist|length %}
            <div class="row">
                <div class="col">
                    <div class="data">
                        <div class="roow">
                            <dt>{{ 'label.dateOfBirth'|trans }}</dt>
                            <dd>{{ artist.dateOfBirth|format_date('long') }}</dd>
                        </div>
                        {% if artist.dateOfDeath is defined and artist.dateOfDeath is not null %}
                            <div class="roow">
                                <dt>{{ 'label.dateOfDeath'|trans }}</dt>
                                <dd>{{ artist.dateOfDeath|format_date('long') }}</dd>
                            </div>
                        {% endif %}
                        {% if artist.nationality.name is defined %}
                            <div class="roow">
                                <dt>{{ 'label.nationality'|trans }}</dt>
                                <dd>{{ artist.nationality.name }}</dd>
                            </div>
                        {% endif %}
                        <div class="row">
                            <dt>{{ 'label.artworks'|trans }}</dt>
                            <div class="row" style="margin-top: 1em;">
                                <div class="col">
                                    <img class="img-fluid" style="width: 10vw; height: 10vw; object-fit: cover; border-radius: 5%;" id="artworks"
                                         src="{{ asset('uploads/paintings/bubbles-62f3fbe00c4c7.jpg') }}"
                                         alt="{{ artist.name }}">
                                </div>
                                <div class="col">
                                    <img class="img-fluid" style="width: 10vw; height: 10vw; object-fit: cover; border-radius: 5%;" id="artworks"
                                         src="{{ asset('uploads/paintings/squirrel-62f3fbdfea853.jpg') }}"
                                         alt="{{ artist.name }}">
                                </div>
                                <div class="col">
                                    <img class="img-fluid" style="width: 10vw; height: 10vw; object-fit: cover; border-radius: 5%;" id="artworks"
                                         src="{{ asset('uploads/paintings/seagul-62f3fbe0098a4.jpg') }}"
                                         alt="{{ artist.name }}">
                                </div>
                            </div>
                            <div class="row" style="margin-top: 1em;">
                                <div class="col">
                                    <img class="img-fluid" style="width: 10vw; height: 10vw; object-fit: cover; border-radius: 5%;" id="artworks"
                                         src="{{ asset('uploads/paintings/serpentyna-62f3ffa43a470.jpg') }}"
                                         alt="{{ artist.name }}">
                                </div>
                                <div class="col">
                                    <img class="img-fluid" style="width: 10vw; height: 10vw; object-fit: cover; border-radius: 5%;" id="artworks"
                                         src="{{ asset('uploads/paintings/differences-62f3fbdfe1089.jpg') }}"
                                         alt="{{ artist.name }}">
                                </div>
                                <div class="col">
                                    <img class="img-fluid" style="width: 10vw; height: 10vw; object-fit: cover; border-radius: 5%;" id="artworks"
                                         src="{{ asset('uploads/paintings/castle-62f3fbe012a9e.jpg') }}"
                                         alt="{{ artist.name }}">
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
            <div class="col d-flex justify-content-end">
                {% if artist.photoFilename is defined and artist.photoFilename|length %}
                    <figure>
                        <img class="img-fluid" id="artist-show-img" src="{{ asset(paintings_directory~artist.photoFilename) }}" alt="{{ artist.name }}">
                    </figure>
                {% endif %}
            </div>
            </div>
            <div class="roow" id="artist-index-btn">
                <a role="button" id="view-btn" class="btn btn-info btn-sm" href="{{ url('artist_index') }}" title="{{ 'action.view_more'|trans }}">{{ 'action.view_more'|trans }}</a>
            </div>
        </div>
        {% else %}
            <p>
                {{ 'message.record_not_found'|trans }}
            </p>
        {% endif %}
    </div>
{% endblock %}