{% extends 'base.html.twig' %}

{% block title %}
    {{ artist.name }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center" id="show">
        <div class="row col-10">
            <h1 class="h1 font font-weigh-normal">{{ artist.name }}</h1>
        {% if artist is defined and artist|length %}
            <div class="row">
                <div class="col">
                    <div class="data">
                        <div class="roow">
                            <dt>{{ 'label.dateOfBirth'|trans }}</dt>
                            <dd>{{ artist.dateOfBirth|format_date('long') }}</dd>
                        </div>
                        {% if artist.dateOfDeath is defined and artist.dateOfDeath is not null %}
                            <div class="roow">
                                <dt>{{ 'label.dateOfDeath'|trans }}</dt>
                                <dd>{{ artist.dateOfDeath|format_date('long') }}</dd>
                            </div>
                        {% endif %}
                        {% if artist.nationality.name is defined %}
                            <div class="roow">
                                <dt>{{ 'label.nationality'|trans }}</dt>
                                <dd>{{ artist.nationality.name }}</dd>
                            </div>
                        {% endif %}
                        {% if artist.artwork is defined and artist.artwork|length %}
                            <div class="roow">
                                <dt>{{ 'label.artworks'|trans }}</dt>
                                <div class="roow">
                                    {% for artwork in artist.artwork %}
                                        <figure id="figure">
                                            <a href="{{ url('artwork_show', {id: artwork.id}) }}"><img class="img-fluid" id="artworks" alt="{{ artist.name }}" src="{{ asset(paintings_directory~artwork.artworkFilename) }}"></a>
                                        </figure>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col d-flex justify-content-end">
                    {% if artist.photoFilename is defined and artist.photoFilename|length %}
                        <figure>
                            <img class="img-fluid" id="artist-show-img" src="{{ asset(paintings_directory~artist.photoFilename) }}" alt="{{ artist.name }}">
                        </figure>
                    {% endif %}
                </div>
            </div>
            <div class="roow" id="artist-index-btn">
                <a role="button" id="view-btn" class="btn btn-info btn-sm" href="{{ url('artist_index') }}" title="{{ 'action.view_more'|trans }}">{{ 'action.view_more'|trans }}</a>
            </div>
        </div>
        {% else %}
            <p>
                {{ 'message.record_not_found'|trans }}
            </p>
        {% endif %}
    </div>
    {#                        <div class="row">#}
    {#                            <dt>{{ 'label.artworks'|trans }}</dt>#}
    {#                            <div class="row" style="margin-top: 1em;">#}
    {#                                <div class="col">#}
    {#                                    <img class="img-fluid" style="width: 10vw; height: 10vw; object-fit: cover; border-radius: 5%;" id="artworks"#}
    {#                                         src="{{ asset('uploads/paintings/bubbles-62f9f5f2b7dd1.jpg') }}"#}
    {#                                         alt="{{ artist.name }}">#}
    {#                                </div>#}
    {#                                <div class="col">#}
    {#                                    <img class="img-fluid" style="width: 10vw; height: 10vw; object-fit: cover; border-radius: 5%;" id="artworks"#}
    {#                                         src="{{ asset('uploads/paintings/squirrel-62f9f5f2c150a.jpg') }}"#}
    {#                                         alt="{{ artist.name }}">#}
    {#                                </div>#}
    {#                                <div class="col">#}
    {#                                    <img class="img-fluid" style="width: 10vw; height: 10vw; object-fit: cover; border-radius: 5%;" id="artworks"#}
    {#                                         src="{{ asset('uploads/paintings/seagul-62f9f5f2a6cd9.jpg') }}"#}
    {#                                         alt="{{ artist.name }}">#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="row" style="margin-top: 1em;">#}
    {#                                <div class="col">#}
    {#                                    <img class="img-fluid" style="width: 10vw; height: 10vw; object-fit: cover; border-radius: 5%;" id="artworks"#}
    {#                                         src="{{ asset('uploads/paintings/serpentyna-62f9f5f2a9afa.jpg') }}"#}
    {#                                         alt="{{ artist.name }}">#}
    {#                                </div>#}
    {#                                <div class="col">#}
    {#                                    <img class="img-fluid" style="width: 10vw; height: 10vw; object-fit: cover; border-radius: 5%;" id="artworks"#}
    {#                                         src="{{ asset('uploads/paintings/differences-62f9f5f2afd44.jpg') }}"#}
    {#                                         alt="{{ artist.name }}">#}
    {#                                </div>#}
    {#                                <div class="col">#}
    {#                                    <img class="img-fluid" style="width: 10vw; height: 10vw; object-fit: cover; border-radius: 5%;" id="artworks"#}
    {#                                         src="{{ asset('uploads/paintings/castle-62f9f5f2a3948.jpg') }}"#}
    {#                                         alt="{{ artist.name }}">#}
    {#                                </div>#}
    {#                            </div>#}
    {#                    </div>#}
{% endblock %}