{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.record_details'|trans({'%id%': field.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.record_details'|trans({'%id%': field.id|default('')}) }}</h1>
    {% if field is defined and field|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ field.id }}</dd>
            <dt>{{ 'label.field'|trans }}</dt>
            <dd>{{ field.name }}</dd>
        </dl>
        <p>
            <a href="{{ url('field_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}