<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link
                href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
                rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
                crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>
<body>
<header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid" id="nav-container">
                <!-- Logo -->
                <a class="navbar-brand" href="{{ url('app_index') }}">{{ 'title.app'|trans }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Nav links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto d-flex align-items-start">
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url('input_index') }}">{{ 'title.record_list_input'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url('artist_index') }}">{{ 'title.record_list_artist'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url('category_index') }}">{{ 'title.record_list_category'|trans }}</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <!-- Admin links -->
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url('nationality_index') }}">{{ 'title.record_list_nationality'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url('field_index') }}">{{ 'title.record_list_field'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url('movement_index') }}">{{ 'title.record_list_movement'|trans }}</a>
                            </li>
                        {% endif %}
                        <!-- Search bar -->
                        <form class="d-flex align-items-center" action="{{ path('input_index') }}" role="search">
                            <input class="form-control" type="search" name="q" value="{{ app.request.query.get('q') }}" placeholder="{{ 'label.search'|trans }}" aria-label="Search">
                            <button class="btn btn-outline-secondary" type="submit">{{ 'label.search'|trans }}</button>
                        </form>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <!-- Only logged user functionalities -->
                            <li class="nav-item" id="btn-nav">
                                <a class="btn btn-secondary" role="button" href="{{ url('input_create') }}"
                                   title="{{ 'action.create'|trans }}">
                                    {{ 'action.create'|trans }}
                                </a>
                            </li>
                            <li class="nav-item" id="btn-nav">
                                <a class="btn btn-secondary" role="button"
                                   href="{{ url('user_show', {id: app.user.id}) }}"
                                   title="{{ 'action.view'|trans }}">
                                    {{ 'action.account'|trans }}
                                </a>
                            </li>
                            <li class="nav-item" id="btn-nav">
                                <a class="btn btn-outline-secondary" href="{{ url('app_logout') }}"
                                   role="button">{{ 'action.logout'|trans }}</a>
                            </li>
                            <!-- Available for all functionalities -->
                        {% else %}
                            <li class="nav-item" id="btn-nav">
                                <a class="btn btn-secondary" href="{{ url('app_register') }}"
                                   role="button">{{ 'action.register'|trans }}</a>
                            </li>
                            <li class="nav-item" id="btn-nav">
                                <a class="btn btn-outline-secondary" href="{{ url('app_login') }}"
                                   role="button">{{ 'action.login'|trans }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
</header>
<main role="main" class="container-fluid">
    {% include 'default/_flash_messages.html.twig' %}
    {% block body %}{% endblock %}
</main>
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
