{% extends 'base.html.twig' %}

{% block title %}
{{ 'title.app'|trans }}
{% endblock %}

{% block body %}
    <div id="indexCarousel" class="carousel slide carousel-dark" data-bs-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('css/basquiat-cover.jpeg') }}" class="d-block w-100" alt="Jean-Michel Basquiat">
                <a href="{{ url('input_index') }}" title="{{ 'action.view'|trans }}">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>{{ 'Zapoznaj się z sylwetkami artystów, którzy swoją sztukę tworzyli w niesprzyjających okolicznościach.' }}</h1>
                                        <p style="margin-top: 1em;">{{ 'Zobacz więcej' }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}